*{
    font-family: 'Roboto Mono', monospace;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.container {
    display: flex;
    width: 960px;
    height: 960px;
}
.column {
    display: flex;
    justify-content: content;
    align-content:content;
    flex-direction: column;
    flex-grow: 1;
}

.square{
    display: flex;
    flex-grow: 1;
    border: solid;
    border-width: 1px;
    border-color: black;
}

button {
    margin-top: 25px;
    margin-bottom: 40px;
    padding: 12px 24px;
    border-radius: 12px;
    transition: all 0.25s;
    
}

button:hover{
    transform: translate3d(0,-0.8px,0);
    background-color: cadetblue;
}
