.container {
    display: flex;
    flex-direction: column;
}
.column {
    display: flex;
    
}

.square{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 30px 30px;
}

/*.square:hover{
    background-color: black;
    cursor: pointer;
}*/