.container {
    display: flex;
    flex-direction: column;
}
.column {
    display: flex;
    
}

.line{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 30px 30px;
}